body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  #main {
    flex: 1 0 auto;
  }
}
.logged-in.admin-bar {
  min-height: calc(100vh - 32px);
  @include media-breakpoint-down(lg) {
    min-height: calc(100vh - 46px);
  }
}
