
.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    .menu-item {
        margin: 0;
        margin-right: 1rem;
        padding: 0.25rem 0;
    }
    header & .menu-item {
        margin-right: 1.5rem;
        border-bottom: 3px solid $gray-200;

        a {
            text-decoration: none;
        }

        &.current-menu-item,
        &.current-page-ancestor, 
        &:hover {
            border-bottom: 3px solid theme-color('primary')
        }
    }

    footer & .menu-item:not(:first-child) {
        display: flex;
        align-items: center;
        @include media-breakpoint-up('md') {
            &::before {
                content: "•";
                margin-right: 1rem;
            }
        }
        
        
    }
   
}