<nav>
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">{{ __('Skip to main content', 'cds-snc') }}</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">{{ __('Skip to "About government"', 'cds-snc') }}</a>
        </li>
    </ul>
</nav>