html {
  font-size: 100%;
}
$font-base-size: 16;

$theme-name: "platform";
$color-platform: #26374a; //This one does

//overwrite default bootstrap Variables
$theme-colors: (
  "primary": $color-platform,
);

$border-radius: 3px;
$border-radius-lg: 3px;
$border-radius-sm: 3px;

$font-family-sans-serif: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: 'Lato', serif, $font-family-sans-serif;

$white: #ffffff;
$gray-100: #f6f6f6;
$gray-200: #eeeeee;
$gray-300: #e2e2e3;
$gray-400: #d3d3d5;
$gray-500: #b2b2b5;
$gray-600: #7f7f84;
$gray-700: #525258;
$gray-800: #3a3a3f;
$gray-900: #252529;
$black: #000000;
